body {
  position: relative;
}

.bg-body {
  position: absolute;
  background-color: #E9E8E8;
  width: 100%;
  height: -webkit-fill-available;
  min-height: 100%;
  z-index: -100;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 100px);
  min-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  height: 50px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100%;
  text-align: left;
}

header .logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .back {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

header .white a {
  text-decoration: none;
  color: white;
}

header .black a {
  text-decoration: none;
  color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
  min-height: calc(100vh - 100px);
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-shadow: 13px 21px 46px -7px #949494;
  box-shadow: 13px 21px 46px -7px #949494;
}

.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 100px);
  width: 60%;
}

.one .up {
  position: relative;
  height: 33.33%;
  overflow: hidden;
}

.one .up .preloader {
  position: absolute;
  background-color: #286279;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.one .up .img__block {
  position: absolute;
  width: 100%;
  height: 100%;
}

.one .up .img__block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.one .up a {
  position: absolute;
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 4vmin;
  bottom: 10%;
  left: 5%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.one .up a::after {
  content: '\203A';
  width: 4vmin;
  height: 4vmin;
  line-height: 0;
  font-size: 4vmin;
  margin-left: 5px;
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s;
}

.one .up a:hover::after {
  padding-left: 5px;
  opacity: 1;
}

.one .middle {
  position: relative;
  height: 33.33%;
  overflow: hidden;
}

.one .middle .preloader {
  position: absolute;
  background-color: #3f97b9;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.one .middle video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.one .middle a {
  position: absolute;
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 4vmin;
  bottom: 10%;
  left: 5%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.one .middle a::after {
  content: '\203A';
  width: 4vmin;
  height: 4vmin;
  line-height: 0;
  font-size: 4vmin;
  margin-left: 5px;
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s;
}

.one .middle a:hover::after {
  padding-left: 5px;
  opacity: 1;
}

.one .down {
  position: relative;
  height: 33.33%;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, transparent)), url("../img/gleitsicht_teaser.jpg");
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 50%), url("../img/gleitsicht_teaser.jpg");
  background-size: cover;
}

.one .down .preloader {
  position: absolute;
  background-color: #218bb4;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.one .down a {
  position: absolute;
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 4vmin;
  bottom: 10%;
  left: 5%;
  max-width: 600px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.one .down a::after {
  content: '\203A';
  width: 4vmin;
  height: 4vmin;
  line-height: 0;
  font-size: 4vmin;
  margin-left: 5px;
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s;
}

.one .down a:hover::after {
  padding-left: 5px;
  opacity: 1;
}

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  min-height: calc(100vh - 100px);
}

.two .up {
  position: relative;
  height: 40%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, transparent)), url("../img/sonne-intro.jpg");
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 50%), url("../img/sonne-intro.jpg");
  background-size: cover;
}

.two .up .preloader {
  position: absolute;
  background-color: #008fc7;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.two .up a {
  position: absolute;
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 4vmin;
  bottom: 10%;
  left: 5%;
  max-width: 600px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.two .up a::after {
  content: '\203A';
  width: 4vmin;
  height: 4vmin;
  line-height: 0;
  font-size: 4vmin;
  margin-left: 5px;
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s;
}

.two .up a:hover::after {
  padding-left: 5px;
  opacity: 1;
}

.two .middle {
  position: relative;
  height: 30%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, transparent)), url("../img/sehwelten-sport-teaser.jpg");
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 50%), url("../img/sehwelten-sport-teaser.jpg");
  background-size: cover;
}

.two .middle .preloader {
  position: absolute;
  background-color: #00b7ff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.two .middle a {
  position: absolute;
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 4vmin;
  bottom: 10%;
  left: 5%;
  max-width: 600px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.two .middle a::after {
  content: '\203A';
  width: 4vmin;
  height: 4vmin;
  line-height: 0;
  font-size: 4vmin;
  margin-left: 5px;
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s;
}

.two .middle a:hover::after {
  padding-left: 5px;
  opacity: 1;
}

.two .down {
  position: relative;
  height: 30%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.two .down .preloader {
  position: absolute;
  background-color: #006a94;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.two .down video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.two .down a {
  position: absolute;
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 4vmin;
  bottom: 10%;
  left: 5%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.two .down a::after {
  content: '\203A';
  width: 4vmin;
  height: 4vmin;
  line-height: 0;
  font-size: 4vmin;
  margin-left: 5px;
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s;
}

.two .down a:hover::after {
  padding-left: 5px;
  opacity: 1;
}

footer {
  background: transparent;
  height: 50px;
}

@media (max-width: 1161px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 965px) {
  header .logo {
    width: 70%;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .one,
  main .two {
    width: 100%;
  }
  main .one .up,
  main .one .middle,
  main .one .down,
  main .two .up,
  main .two .middle,
  main .two .down {
    min-height: 300px;
  }
  main .one .up a,
  main .one .middle a,
  main .one .down a,
  main .two .up a,
  main .two .middle a,
  main .two .down a {
    font-size: 1.5rem;
  }
  main .one .up a::after,
  main .one .middle a::after,
  main .one .down a::after,
  main .two .up a::after,
  main .two .middle a::after,
  main .two .down a::after {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=world-of-vision.css.map */